  steps:
  # Build the container image
  - name: 'gcr.io/cloud-builders/docker'
    args: ['build', '-t', 'gcr.io/ian-dev-444015/smtp-auto-v2:$COMMIT_SHA', '-f', 'devops/Dockerfile', '.']
  
  # Push the container image to Container Registry
  - name: 'gcr.io/cloud-builders/docker'
    args: ['push', 'gcr.io/ian-dev-444015/smtp-auto-v2:$COMMIT_SHA']
  
  images:
  - 'gcr.io/ian-dev-444015/smtp-auto-v2:$COMMIT_SHA'
  
  options:
    logging: CLOUD_LOGGING_ONLY