services:
  email-bot:
    build:
      context: .
      dockerfile: ./devops/Dockerfile
    env_file:
      - dev.env
    environment:
      - GOOGLE_APPLICATION_CREDENTIALS=/app/service_accounts/ian-dev.json
      - DEBUG=false
    volumes:
      - .:/app