export GOOGLE_APPLICATION_CREDENTIALS="< FILL THIS IN >"

export SMTP_USERNAME="< FILL THIS IN >"
export SMTP_PASSWORD="< FILL THIS IN >"

export TABLE_NAME="< FILL THIS IN >"
export ADDRESSEE_FIRST_NAME="< FILL THIS IN >"
export ADDRESSEE_EMAIL="< FILL THIS IN >"
export CLIENT_NAME="< FILL THIS IN >"